[submodule "slice-gui"]
	path = slice-gui
	url = https://github.com/incicadd/i-slice-gui.git
[submodule "slice-engine"]
	path = slice-engine
	url = https://github.com/incicadd/i-slice-engine.git
[submodule "SLICE-public"]
	path = SLICE-public
	url = https://github.com/tarasovan/SLICE-public.git
